---
---

<nav>
  <a href='/'>P5X Database</a>
</nav>
<style>
  nav {
    background: #22252e;
    padding: 1rem 0;
  }
  a{
    margin-left: 1rem;
    font-family: system-ui, sans-serif;
    font-weight: 700;
    color: white;
    font-size: 3rem;
    text-decoration: none;
  }
</style>