---
interface Props {
    build: {
        Revelation: {
          "Name": string
          "Image": string
        }[]
        Artifact: {
          "Name": string
          "Image": string
        }[],
        Main: {
            Moon: string
            Star: string
            Dawn: string
        },
        Sub: string[]
    }
}

const {build} = Astro.props;
---

<div>
    <h1>Recommended Revelations:</h1>
    <div class="RecommendedMain">
        <div>
            {build["Revelation"].map((curr,index)=>{
                return <div>
                    <div class="ArcanaCard">
                        <img src={curr["Image"]}></img>
                    </div>
                    <p class="name">{curr["Name"]}</p>
                </div>
            })}
        </div>
        <div>
            {build["Artifact"].map((curr,index)=>{
                return <div>
                    <div class="ArcanaCard">
                        <img src={curr["Image"]}></img>
                    </div>
                    <p class="name">{curr["Name"]}</p>
                </div>
            })}
        </div>
        <div>
            <h2>Main Stat</h2>
            <p>Moon: {build["Main"]["Moon"]}</p>
            <p>Star: {build["Main"]["Star"]}</p>
            <p>Dawn: {build["Main"]["Dawn"]}</p>
            <h2>Substat Priority</h2>
            <p>{build["Sub"].map((stat,index) => {
                            if(index == build["Sub"].length-1){
                                return stat
                            }
                            return stat + " -> "
                        }
                    )       
                }
            </p>
        </div>
        
    </div>
</div>

<style>
    .RecommendedMain {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 0px;
    }
    .RecommendedMain h2 {
        margin: 0;
    }
    .RecommendedMain .ArcanaCard{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .RecommendedMain .name{
        text-align: center;
    }
    .RecommendedMain .ArcanaCard img{
        max-width: 33%;
    }
</style>