---
interface Props {
    role: string
}
const { role } = Astro.props;
const imageMap = {
    "Single Target Attacker": "AttackIcon.png",
    "AOE Attacker": "AOEIcon.png",
    "Defense": "DefenseIcon.png",
    "Healer": "HealerIcon.png",
    "Navigation": "NaviIcon.png",
    "Buffer": "SupportIcon.png",
    "Debuffer": "ControlIcon.png"
}
---

<div class="role">
    <img src={"/P5XWiki/roleicons/" + imageMap[role]}></img> 
    <div>{role}</div>
</div>

<style>
    .role {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        
    }
    .role div {
        font-weight: bold;
        height: min-content;
        margin: 0;
    }
    .role img{
        display: block;
        max-width: 48px;
        max-height: 48px;
        width: auto;
        height: auto;
        margin-right: .5rem;
    }
</style>