---
import Navigation from '../components/Navigation.astro'

interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content="Wiki for P5X" />
		<meta property="og:site_name" content="P5X Wiki">
		<meta property="og:title" content=`${title} | P5X Wiki`>
		<meta property="og:description" content="Wiki for P5X">
		<meta property="og:image" content="/P5XWiki/android-chrome-512x512.png">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://marsh-1.github.io/P5XWiki/">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/x-icon" href=`/P5XWiki/favicon.ico` />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<Navigation/>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 255, 105, 105;
		--accent-light: 255, 245, 225;
		--accent-dark: 200, 0, 54;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)) 0%,
			rgb(var(--accent-dark)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
