---
import Navigation from '../components/Navigation.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Wiki for P%X" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="public/P5XWiki/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navigation/>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 255, 105, 105;
		--accent-light: 255, 245, 225;
		--accent-dark: 200, 0, 54;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)) 0%,
			rgb(var(--accent-dark)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
